/* Styles_index.ss*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Variables globales */
:root {
  /* Paleta de textos */
  --main-text: #010e31;
  --hover-text: #145dd0;
  --secondary-text: #f9f9f9;

  /* Paleta de fondos */
  --main-bg: #010e31;
  --hover-bg: #145dd0;
  --whastsapp-bg: #1eb437;
  --general-bg: #ffffff;

  /* Familias tipográficas */
  --font-main: "Montserrat", sans-serif;
  --font-second: "Inter", sans-serif;
}

/* Estilos globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para dispositivos móviles */
@media screen and (min-width: 320px) and (max-width: 992px) {
  /* Encabezado fijo superior */
  .header_container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: var(--general-bg);
  }
  .header_container_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--general-bg);
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.15);
  }
  /* Logotipo principal */
  .logo-container {
    display: block;
    align-items: center;
    margin-left: 20px;
    padding: 10px 30px;
  }

  .logo {
    width: 200px;
    height: auto;
  }

  .navToggle {
    display: block;
    background: none;
    border: none;
   
    font-size: 20px;
    font-weight: bold;
    color: var(--main-text);
  }
  .navbar {
    display: none;
    
  }
}
