@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Variables globales de color y tipografía */
:root {
  /* Paleta de textos */
  --main-text: #010e31;
  --hover-text: #145dd0;
  --secondary-text: #f9f9f9;

  /* Paleta de fondos */
  --main-bg: #010e31;
  --hover-bg: #145dd0;
  --whastsapp-bg: #1eb437;
  --general-bg: #ffffff;

  /* Familias tipográficas */
  --font-main: "Montserrat", sans-serif;
  --font-second: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}